{
  auto_https off
  http_port 8080
}

:8080 {
  respond /health-check "OK" 200

header {
  Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

  reverse_proxy http://103.205.254.57:40702 {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}

    lb_try_duration 5s
    lb_try_interval 250ms

    transport http {
      dial_timeout 5s
      response_header_timeout 30s
      keepalive 30s
    }
  }
}
